/* ==========================================================================
   Intrinsic ratio embed - http://j.mp/GIHbnu
   ========================================================================== */

/**
 * Variables
 *
 * It is recommended to override these.
 *
 * 1. Component namespace.
 * 2. The X part of an X:Y ratio.
 * 3. The Y part of an X:Y ratio.
 */

$bits-components-ns: 'bits-' !default; /* 1 */
$bits-flex-embed-ratios-x: (4 16) !default; /* 2 */
$bits-flex-embed-ratios-y: (3 9) !default; /* 3 */

/**
 * Flexible media embeds
 *
 * For use with media embeds – such as videos, slideshows, or even images –
 * that need to retain a specific aspect ratio but adapt to the width of their
 * containing element.
 *
 * --------------
 * Example usage:
 *
 * <div class="FlexEmbed FlexEmbed--16by9">
 *   <iframe class="FlexEmbed-item" src="…"></iframe>
 * </div>
 *
 * <div class="FlexEmbed FlexEmbed--16by9">
 *   [iframe|object|embed|img]
 * </div>
 */

.#{$bits-components-ns}FlexEmbed {
  position: relative;
  overflow: hidden;
  height: 0;
  padding: 0;
}

/**
 * The use of an explicit descendant class makes this component more flexible.
 * However, it will work automatically for iframes, embeds, and objects to
 * account for times when you cannot modify the attributes for 3rd party widget
 * code.
 */

.#{$bits-components-ns}FlexEmbed-item,
.#{$bits-components-ns}FlexEmbed iframe,
.#{$bits-components-ns}FlexEmbed embed,
.#{$bits-components-ns}FlexEmbed object {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


/**
 * Modifiers with defined aspect ratios
 *
 * FlexEmbed--<X>by<Y>
 *
 * ---------------
 * Output example:
 *
 * .FlexEmbed--4by3 {
 *   padding-bottom: 75%;
 * }

 * .FlexEmbed--16by9 {
 *   padding-bottom: 56.25%;
 * }
 */

$length: min(length($bits-flex-embed-ratios-x), length($bits-flex-embed-ratios-y));

@for $i from 1 through $length {
  $x: nth($bits-flex-embed-ratios-x, $i);
  $y: nth($bits-flex-embed-ratios-y, $i);

  .#{$bits-components-ns}FlexEmbed--#{$x}by#{$y} {
    padding-bottom: percentage($y / $x);
  }
}